---
import Mark from './Mark.astro';
import brand from '../../../../brand.json';

interface Props {
  compact?: boolean;
}

const { compact = false } = Astro.props;
---

<a class="brand" href="/" aria-label="Labcoat home">
  <Mark class="brand-mark" />
  {!compact && <span>{brand.name.toUpperCase()}</span>}
</a>
